.ItemDetailTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Smooch Sans', sans-serif;
    text-align: center;
}

.ItemDetail{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h2{ 
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
}

.h3{ 
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
}