.NavBar{
    height:20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.NavBar_Img{
    width: 30%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: auto;
}

.NavBar_Elements{
    margin-right: 10%;
    margin-left: 10%;
    width: 20%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.NavBar_CartWidget{
    margin-right: 10%;
    margin-left: 10%;
    width: 10%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.NavBar_CartWidget:hover{
    margin-right: 8%;
    margin-left: 8%;
    width: 14%;
}

p{
    font-family: 'Raleway', sans-serif;
    color: black;
    cursor: pointer;
    vertical-align: center;
}

p:hover{
    color: #FFDCBA;
}

